@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
  font-family: "Afacad Flux", sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.card img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
}

.loading {
  margin: auto;
  text-align: center;
  color: green;
  font-size: 2em;
  margin-top: 200px;
}

.error {
  margin: auto;
  text-align: center;
  color: red;
  font-size: 2em;
  margin-top: 200px;
}



@media (max-width: 600px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
}